# run dev instance
# $ docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d
services:
  mongodb:
    volumes:
      - ./volumes/mongodb/data:/data/db
      - ./dump:/dump
  ldap:
    image: osixia/openldap:1.5.0
    command:
      - --copy-service
    networks:
      - gens-net
    environment:
      - LDAP_ORGANISATION=GENS Dev
      - LDAP_DOMAIN=example.org
      - LDAP_ADMIN_PASSWORD=admin
      - LDAP_TLS=false
    volumes:
      - ./utils/dev/ldap:/container/service/slapd/assets/config/bootstrap/ldif/custom
    ports:
      - 1389:389
    # Seeded test account:
    #   username: dev.user@example.org
    #   password: devpassword
  ldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: phpldapadmin
    depends_on:
      - ldap
    networks:
      - gens-net
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: ldap
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "5001:80"
  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    networks:
      - gens-net
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME=oidc.localtest.me
      - KC_HOSTNAME_STRICT=false
      - KC_PROXY_HEADERS=xforwarded
    command:
      - start-dev
      - --import-realm
    volumes:
      - ./utils/dev/oidc/keycloak-realm-gens-dev.json:/opt/keycloak/data/import/keycloak-realm-gens-dev.json:ro
    ports:
      - 8090:8080
    # Seeded OAuth account:
    #   username: dev.user
    #   email: dev.user@example.org
    #   password: devpassword
  gens:
    build:
      context: .
      dockerfile: Dockerfile.dev
      network: host
    networks:
      - gens-net
    depends_on:
      - mongodb
      - ldap
      - keycloak
    environment:
      - FLASK_DEBUG=1
      - AUTHENTICATION=${GENS_AUTHENTICATION:-simple}
      - LDAP__SERVER=${GENS_LDAP_SERVER:-ldap://ldap:389}
      - LDAP__BIND_USER_TEMPLATE=uid={username},ou=People,dc=example,dc=org
      - OAUTH__CLIENT_ID=${GENS_OAUTH_CLIENT_ID:-gens-dev}
      - OAUTH__SECRET=${GENS_OAUTH_SECRET:-gens-dev-secret}
      - OAUTH__DISCOVERY_URL=${GENS_OAUTH_DISCOVERY_URL:-http://oidc.localtest.me:8090/realms/gens-dev/.well-known/openid-configuration}
    extra_hosts:
      - "oidc.localtest.me:host-gateway"
    ports:
      - 8080:5000
    volumes:
      - ./dump:/dump
      - ./gens:/home/worker/gens
      - ./tests:/home/worker/tests
      - ./utils:/home/worker/utils
    command: uvicorn gens.app:create_app --reload --log-level debug --host 0.0.0.0 --port 5000
