# run dev instance
# $ docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d
services:
  mongodb:
    volumes:
      - ./volumes/mongodb/data:/data/db
      - ./dump:/dump
  gens:
    build:
      context: .
      dockerfile: Dockerfile.dev
      network: host
    networks:
      - gens-net
    depends_on:
      - mongodb
    environment:
      - FLASK_DEBUG=1
    ports:
      - 8080:5000
    volumes:
      - ./dump:/dump
      - ./gens:/home/worker/gens
      - ./tests:/home/worker/tests
      - ./utils:/home/worker/utils
    command: uvicorn gens.app:create_app --reload --log-level debug --host 0.0.0.0 --port 5000
