@use "sass:color";
@use "defaults";
@use "navbar";
$table-border-color: #ddd;
$selected-color: color.adjust(navbar.$menubar-bg-color, $lightness: 30%);

.align-right {
  text-align: right;
}
.content {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  .display-info {
    margin-bottom: 4px;
  }

  form {
    float: right;
    margin-top: 10px;
    padding-bottom: 50px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
  }

  a {
    padding: 8px;
  }

  p {
    width: 600px;
  }

  input {
    font-family: defaults.$default-font;
    font-size: 1.5em;
  }

  .email-login-form {
    float: none;
    margin-top: 10px;
    padding-bottom: 50px;
  }

  .email-login-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .email-login-fields input,
  .email-login-fields .btn {
    width: 320px;
    box-sizing: border-box;
    padding: 8px 10px;
  }

  .email-login-fields .btn {
    width: auto;
    min-width: 96px;
  }
}

.btn {
  font-family: defaults.$default-font;
  font-size: 1.5em;
  border-radius: 3px;
  color: navbar.$menubar-font-color;
  background-color: navbar.$menubar-bg-color;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.mainlogo {
  img {
    width: 250px;
  }
}

.disabled {
  pointer-events: none;
  a {
    color: dimgray;
  }
}

.selected {
  background-color: $selected-color;

  a {
    color: navbar.$menubar-font-color;
  }
}
