{% extends "layout.html" %}

{% block title %}Sample error{% endblock title %}

{% block css_style %}
    {{ super() }}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/error.min.css') }}' type='text/css'>
{% endblock css_style %}

{% block body %}
<div class="content">
    <div class="error-msg-container">
        <h1 class="headline">{{ headline }}</h1>
        <p>{{ message }}</p>
        <p><a href="{{ url_for('home.home') }}">Click here</a> to see all available samples</p>
    </div>
    <img id="broken-dna" width="400" src="{{ url_for("gens.static", filename='svg/broken-dna.svg') }}" alt="broken DNA" />
</div>
{% endblock %}
