@use "defaults";
@use "navbar";
// region marker
$marker-color: rgba(#dcd16f, 0.3);
$white-color: white;
$dark-gray-color: #333;
$gens-blue: #567;
// FIXME: Merge with other colors
$button-white: #FAFBFC;
$button-black: rgba(27, 31, 35, 0.15);
$button-gray: #555;
$button-hover-white: #E7EEF2;
$header-background-blue: #bbcadc;
$source-border-color: rgba(27, 31, 35, 0.15);
$marker-gray-color: #7c7c7c;

.tooltip {
  background: $dark-gray-color;
  color: $white-color;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  z-index: 1;
  display: none;

  &[data-show] {
    display: block;
  }

  .feature {
    display: none;

    &[data-show] {
      display: block;
    }
  }

  &[data-popper-placement^="top"] > .arrow {
    bottom: -4px;
  }
  
  &[data-popper-placement^="bottom"] > .arrow {
    top: -4px;
  }
  
  &[data-popper-placement^="left"] > .arrow {
    right: -4px;
  }
  
  &[data-popper-placement^="right"] > .arrow {
    left: -4px;
  }
}

#loading-div {
  display: none;
  position: absolute;
  font-family: sans-serif;
  font-size: 9pt;
  font-weight: bold;
  color: $gens-blue;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 210px;
  z-index: 10;
  background-color: defaults.$default-bg-color;
}

.button {
  border: 0px;
  /* box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); */
  padding: 4px 10px;
  cursor: pointer;
  background: $button-white;
  border: 1px solid $button-black;
  border-radius: 4px;
  transition: box-shadow 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 20px;
    line-height: 1;
    color: $button-gray;
  }

  &:hover {
    background: $button-hover-white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.98);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.text-input {
  width: 150px;
  height: 30px;
}

.header {
  font-size: 22px;
  padding: 15px 20px;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  color: $dark-gray-color;
  background-color: $header-background-blue;

  z-index: 1000;
}

#logo-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $white-color;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background: url(/gens/static/svg/gens-logo-only.svg) no-repeat top left;
  background-size: contain;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#gens-tracks {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

#input-controls-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

#source-list {
  max-height: 80px;
  // overflow-y: auto;
  border: 1px solid $source-border-color;
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;
}

.marker {
  background-color: $marker-color;
  border: dashed 1px $marker-gray-color;
  border-top-width: 0;
  border-bottom-width: 0;
  pointer-events: none;
  position: relative;
}

.loading-view {
  // pos
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  margin: 0;
  // style
  background-color: defaults.$default-bg-color;

  .loading-container {
    position: relative;
    top: 30%;
    margin: auto;
    display: flex;
    width: 190px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  .message {
    font: italic 1.2em sans-serif;
    padding-right: 12px;
    color: defaults.$default-font-color;
    flex: 1;
  }
  .spinner {
    border-top: 3px solid rgba(navbar.$menubar-bg-color, 0.5);
    border-right: 3px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
