<!-- GENS overview template -->
{% import 'info.html' as info %}

<!-- {% macro annotation_track(track_name) %}
    <div id="{{ track_name }}-container" class="track-container" data-state="nodata">
        <p class='track-xlabel'>{{ track_name | capitalize }}</p>
        <div id='{{ track_name }}-track-container' class='info-container' title='{{ track_name }}'>
            <canvas id='{{ track_name }}-content' class='info-canvas'></canvas>
            <canvas id='{{ track_name }}-draw' class='info-canvas offscreen'></canvas>
            <div id='{{ track_name }}-titles' class='info-titles'></div>
        </div>
    </div>
{% endmacro %} -->

{% extends "layout.html" %}
{% block title %}{{ sample_name }}{% endblock title %}
<!-- {% block css_style %}
    {{ super() }}
    <link rel='stylesheet' href='{{ url_for('gens.static', filename='gens.min.css') }}' type='text/css'>
{% endblock css_style %} -->
{% block scripts %}
    <script src='{{ url_for('gens.static', filename='gens.min.js') }}'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>

{% endblock scripts %}

{% macro loading() %}
    <div class="loading-view">
        <div class="loading-container">
            <p id="loading" class="message">Loading sample</p>
            <p id="printing" class="message" hidden>Preparing to print</p>
            <div class="spinner"></div>
        </div>
    </div>
{% endmacro %}

{% block body %}
<!-- {{ loading() }} -->

<div id='main-container'>

  <side-menu id="side-menu"></side-menu>
  <div class="header">

    <div style="display: flex; flex-direction: row;">
      <a href="{{ url_for('home.home') }}">
        <div id="logo-container">
          <span class='logo'></span>
        </div>
      </a>
      <header-info id="header-info" style="padding-left: 4px"></header-info>
    </div>
    <input-controls id="input-controls"></input-controls>
    <div title="Open settings menu" id="settings-button" class="settings button">
      <i class="fas fa-cog"></i>
    </div>
  </div>

  <gens-tracks id="gens-tracks" style="display: block; width: 100%;"></gens-tracks>
</div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    const _apiHost = 'api/';

    // Print page settings
    let printing = false;
    if ('{{print_page}}' == 'true') {
        printing = true;
        let mainContainer = document.querySelector('#main-container');
        let loading = document.querySelector('.loading-container');
        loading.querySelector("#loading").toggleAttribute("hidden")
        loading.querySelector("#printing").toggleAttribute("hidden")
    }

    // Set first input field value for ic
    let startJs = {{ start }} === 0 ? 1 : {{ start }};
    const endJs = {{ end }}
    const chromJs = {{ chrom }} !== undefined ? {{ chrom }} : "1";
    const genomeBuildJs = {{ genome_build }}

    // Initiate variant, annotation and transcript canvases
    // and pass flask values to tracks
    gens.initCanvases({
        caseId: '{{ case_id }}',
        sampleIds: {{ sample_ids | safe }},
        genomeBuild: {{ genome_build | safe }},
        uiColors: {{ ui_colors | tojson | safe }},
        scoutBaseURL: '{{ scout_base_url | safe }}',
        selectedVariant: '{{ selected_variant }}',
        annotationFile: '{{ annotation }}',
        startRegion: {
            chrom: String(chromJs),
            start: startJs,
            end: endJs,
        },
        // FIXME: This should come from the backend
        gensApiURL: '{{ gens_api_url }}',
        version: '{{ version }}',
        allSampleIds: {{ all_sample_ids | tojson | safe }}
    })
    // draw statis content
    const visualizationContainer = document.getElementById('visualization-container');
</script>
{% endblock body %}
