<!-- GENS overview template -->
{% import 'info.html' as info %}

<!-- {% macro annotation_track(track_name) %}
    <div id="{{ track_name }}-container" class="track-container" data-state="nodata">
        <p class='track-xlabel'>{{ track_name | capitalize }}</p>
        <div id='{{ track_name }}-track-container' class='info-container' title='{{ track_name }}'>
            <canvas id='{{ track_name }}-content' class='info-canvas'></canvas>
            <canvas id='{{ track_name }}-draw' class='info-canvas offscreen'></canvas>
            <div id='{{ track_name }}-titles' class='info-titles'></div>
        </div>
    </div>
{% endmacro %} -->

{% extends "layout.html" %}
{% block title %}{{ sample_name }}{% endblock title %}
<!-- {% block css_style %}
    {{ super() }}
    <link rel='stylesheet' href='{{ url_for('gens.static', filename='gens.min.css') }}' type='text/css'>
{% endblock css_style %} -->
{% block scripts %}
    <script src='{{ url_for('gens.static', filename='gens.min.js') }}'></script>
{% endblock scripts %}

{% macro loading() %}
    <div class="loading-view">
        <div class="loading-container">
            <p id="loading" class="message">Loading sample</p>
            <p id="printing" class="message" hidden>Preparing to print</p>
            <div class="spinner"></div>
        </div>
    </div>
{% endmacro %}

{% block body %}
<!-- {{ loading() }} -->
<div id='main-container'>
    <div class="header">
        <div id='left-group'>
            <a id="home-link" href="{{ url_for('home.home') }}">
                <div id="logo-container">
                    <span class='logo'></span>
                </div>
            </a>
            <span class='version'>v{{ version }}</span>
            <span class='date'>{{todays_date}}</span>
        </div>
        <div id='center-group'>
            <span class='bold' title='Sample ID'>{{sample_name}} | {{case_id}} | {{individual_id}}</span>
            <span class='version'>(Genome build: {{genome_build}})</span>
        </div>
    </div>

    <!-- FIXME: Use real styling -->
    <br>
    
    <p>Chromogram track here</p>
    <annotation-track id="ideogram-track"></annotation-track>
    <p>Overview navigation track here</p>
    <canvas-track id="overview-track"></canvas-track>

    <dot-track id="coverage-track"></dot-track>
    <dot-track id="baf-track"></dot-track>
    <div id="annotations-container"></div>
    <!-- <annotation-track id="annotation-track"></annotation-track> -->
    <annotation-track id="transcript-track"></annotation-track>
    <annotation-track id="variant-track"></annotation-track>

    <input-controls id="input-controls"></input-controls>

    <div id='visualization-container'>
        <!-- <div id="cytogenetic-ideogram"></div>
        <div id='interactive-container'>
            <canvas id='interactive-content'></canvas>
            <canvas id='interactive-static'></canvas>
            <div id='interactive-marker' class='marker'></div>
            <div id='loading-div'>LOADING...</div>
        </div> -->

        <div id='overview-container'>
            <canvas id='overview-static'></canvas>
            <div class='marker' id='overview-marker'></div>
        </div>
    </div>
</div>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    const _apiHost = 'api/';

    // Print page settings
    let printing = false;
    if ('{{print_page}}' == 'true') {
        printing = true;
        let mainContainer = document.querySelector('#main-container');
        // mainContainer.style.width = '1122px';
        mainContainer.style.overflowY = 'hidden';
        let loading = document.querySelector('.loading-container');
        loading.querySelector("#loading").toggleAttribute("hidden")
        loading.querySelector("#printing").toggleAttribute("hidden")
    }

    // Set first input field value for ic
    let startJs = {{ start }} === 0 ? 1 : {{ start }};
    const endJs = {{ end }}
    const chromJs = {{ chrom }} !== undefined ? {{ chrom }} : "1";
    const genomeBuildJs = {{ genome_build }}

    window.regionConfig = {
        chrom: chromJs,
        start: startJs,
        end: endJs,
        genome_build: genomeBuildJs
    }


    // // Redraw when new region is requested
    // document.addEventListener('data-loaded', () => {
    //     // hide loading
    //     document.querySelector('.loading-view')
    //             .toggleAttribute('hidden');
    //     // display grid containers
    //     document.querySelector('#visualization-container')
    //             .style.display = 'grid';
    // });

    // Initiate variant, annotation and transcript canvases
    // and pass flask values to tracks
    gens.initCanvases({
        sampleName: '{{ individual_id }}',
        caseId: '{{ case_id }}',
        sampleId: '{{ individual_id }}',
        genomeBuild: {{ genome_build }},
        uiColors: {{ ui_colors | tojson | safe }},
        scoutBaseURL: '{{ scout_base_url | safe }}',
        selectedVariant: '{{ selected_variant }}',
        annotationFile: '{{ annotation }}',
    })
    // draw statis content
    const visualizationContainer = document.getElementById('visualization-container')
    // gens.setupDrawEventManager({
    //  target: visualizationContainer 
    // })
    // gens.setupGenericEventManager({
    //   eventName: 'update-title',
    //   ownerElement: visualizationContainer,
    //   targetElementIds: ['interactive-content'],
    // })

    // Promise.all([ic.drawStaticContent(), oc.drawOverviewContent()]).then( () => {
    //     // setup event managers and draw the tracks
    //     gens.drawTrack({chrom: '{{ chrom }}', start: start, end: {{ end }} })
    //     document.dispatchEvent(new CustomEvent('data-loaded'))
    // })


</script>
{% endblock body %}
